body
{
	background-color: gray;
	margin: 0;
	padding: 0;

}

h1{
	font-family: 'Russo One', sans-serif;
	text-align: center;
	font-size: 80px;
}

.lefteyes{
	cursor: url(../entry4/imgs/lefteyes.png),default;
}

.righteyes{
	cursor: url(../entry4/imgs/righteyes.png),default;
}

@media (max-width: 1200px) {
  body{
    background-color: #cd6060;
  }
}

@media (max-width: 900px) {
  body{
    background-color: #b7aaff6b;
  }
}

@media (max-width: 700px) {
  body{
    background-color: #41d0536b;
  }
}

@media (max-width: 650px) {
  body{
    background-color: #cd6060;
  }
}

@media (max-width: 350px) {
  body{
    background-color: #b7aaff6b;
  }
}

.box{
	max-width: 1200px;
	justify-content: center;
	margin: auto;
	padding: 10px;
	top: 20px;
}

input[type="checkbox"]
{
	position: relative;
	width: 20px;
	height: 10px;
	-webkit-appearance: none;
	background: #f5c621;
	border-radius: 10px;
	transition: .5s;
}

input:checked[type="checkbox"]
{
	background: #15ffef;
}

input[type="checkbox"]:before
{
	position: absolute;
	content:'';
	width: 10px;
	height: 10px;
	border-radius: 20px;
	background: white;
	top: 0;
	left: 0;
	transform: scale(1.05);
	transition: .5s;
}

input:checked[type="checkbox"]:before
{
	left: 20px
}




.D:hover{
	color: seagreen;
}

.R:hover{
	color: aquamarine;
}

.A:hover{
	color: teal;
}

.W:hover{
	color: greenyellow;
}

.I:hover{
	color: green;
}

.N:hover{
	color: skyblue;
}

.G:hover{
	color: indigo;
}

.Y:hover{
	color: blueviolet;
}

.O:hover{
	color:cyan ;
}

.U:hover{
	color: brown;
}
