body{
	background-color: black;
}

.batman{
	animation-name: spinType;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}


@keyframes spinType {
  0% {
    transform: rotate(0turn);
  }
  25% {
    transform: rotate(0.25turn);
  }

  50%{
  	transform: rotate(0.5turn);
  }

  75%{
  	transform: rotate(0.75turn);
  }

  100% {
    transform: rotate(1turn);
  }
}