body{
	background-color: red;
	cursor: none;
}

.square {
  width: 5px;
  height: 5px;
  background: red;
}

.square:hover {
	background: white;
}

.square:hover:after{
animation: fadeOut ease-out; 2s;
}

.row{
	display: flex;
}