body{
	background-color: lavenderblush;
}

.home{
	position: sticky;
	top: 10px;
}

.row1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.row2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.row3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.btn{
	height: 40px;
	width: 40px;
	border: none;
}

.btn:hover{
	background-color: lightblue;
	cursor: not-allowed;
}

.row{
	margin: auto;

}