body{
	background-color: black;
}

h1{
	font-family: 'Russo One', sans-serif;
	color: white;
	text-align: center;
	font-size: 150px;
	padding: 0px;
	cursor: url(../entry5/imgs/lefteyes.png),default;

}

.img1{
	background-image: url(../entry6/imgs/11.png);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img1:hover{
	background-image: url(../entry6/imgs/1.jpg);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img2{
	background-image: url(../entry6/imgs/22.png);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img2:hover{
	background-image: url(../entry6/imgs/2.jpg);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img3{
	background-image: url(../entry6/imgs/33.png);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img3:hover{
	background-image: url(../entry6/imgs/3.jpg);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img4{
		background-image: url(../entry6/imgs/44.png);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img4:hover{
	background-image: url(../entry6/imgs/4.jpg);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img5{
	background-image: url(../entry6/imgs/55.png);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img5:hover{
	background-image: url(../entry6/imgs/5.jpg);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img6{
	background-image: url(../entry6/imgs/66.png);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img6:hover{
	background-image: url(../entry6/imgs/6.jpg);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img7{
	background-image: url(../entry6/imgs/77.png);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img7:hover{
	background-image: url(../entry6/imgs/7.jpg);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img8{
		background-image: url(../entry6/imgs/88.png);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.img8:hover{
	background-image: url(../entry6/imgs/8.jpg);
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 600px;
	height: 400px;
}

.part{
	display: flex;
}

.C:hover{
	color: yellow;
}

.R:hover{
	color: aquamarine;
}

.E:hover{
	color: orange;
}

.A:hover{
	color: teal;
}

.S:hover{
	color: burlywood;
}


















