body{
	background-image: url(../entry5/imgs/2.png);
	font-family: 'Russo One', sans-serif;
	font-size: 30px;
}

p{
	text-align: center;
	max-width: 1200px;
	padding: 100px 100px 100px 260px;
	max-width: 800px;
}

.eyes {
	cursor: url(../entry5/imgs/lefteyes.png),default;
}

.A:hover{
	color: teal;
}

.B:hover{
	color: gray;
}

.C:hover{
	color: yellow;
}

.D:hover{
	color: seagreen;
}

.E:hover{
	color: orange;
}

.F:hover{
	color: lightgoldenrodyellow ;
}

.G:hover{
	color: indigo;
}

.H:hover{
	color: darkred;
}

.I:hover{
	color: green;
}

.K:hover{
	color: coral;
}

.L:hover{
	color: indianred;
}

.M:hover{
	color: magenta;
}

.N:hover{
	color: skyblue;
}

.O:hover{
	color:cyan ;
}

.P:hover{
	color: fuchsia;
}

.R:hover{
	color: aquamarine;
}

.S:hover{
	color: burlywood;
}

.T:hover{
	color: olive;
}

.U:hover{
	color: brown;
}

.V:hover{
	color: ivory;
}

.W:hover{
	color: greenyellow;
}

.Y:hover{
	color: blueviolet;
}




